tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
session
.undodir
.editorconfig
qwe.*
test.*
.DS_Store
stylua.toml
lazy-lock.json
.dockerfile
.luarc.json
.neoconf.json
lazyvim.json
package-lock.json
