:root {
  --font-color: #eee;
  --test-color: #0077cc;
  background-color: #fff;
}

div {
  color: var(--font-color);
  /* font-size:; */
}

span {
  color: var(--font-color);
}
p {
  /* color: #606060; */
  color: var(--font-color);
}
